@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utility */
:root {
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --mainbg: hsl(217, 54%, 11%);
  --cardbg: hsl(216, 50%, 16%);
  --linebg: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

.p-text {
  font-size: 18px;
}

body {
  background: var(--mainbg);
  font-family: 'Outfit', sans-serif;
}

#card {
  background: var(--cardbg);
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 440px;
  margin: 150px auto;
  border-radius: 10px;
}

#main-img {
  width: 220px;
  height: 220px;
  margin: 15px 15px;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

a:active {
  color: var(--cyan);
}

main {
  width: 220px;
  margin: 15px auto;
  margin-top: 0;
  border-bottom: 1px solid var(--softblue);
  line-height: 2;
}

.text-primary {
  color: var(--white);
}

.text-secondary {
  color: var(--softblue);
}

.par {
  font-size: 13px;
}

main.text-primary {
  margin-bottom: 10px;
}

#price {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.eth {
  color: var(--cyan);
}

#eth {
  width: 10px;
  height: 15px;
}

#time {
  width: 15px;
  height: 15px;
}

#ether, #clock {
  align-items: center;
}


footer {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

footer img {
  width: 20px;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin: 0 10px 0 0;
}
